
.hero{
    height: 600px;
    background-image: url(heroProject.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* main */

.container{
    width: 80%;
    margin: auto;
    
}

.container h1{
    text-align: center;
    padding: 20px;
}
.item{
    display: flex;
    float: left;
    width: 600px;
    margin: 25px;
}

.item-img{
    margin: 0 20px;
}

.item-content h1{
    color:rgb(214, 176, 125);
}

.item-content p {
    color: #5f5f5f;
}

.footer{
clear: left;
}














